In [24]:
import pandas as pd
df = pd.read_csv('housing.csv')
df.info()
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826 entries, 0 to 825
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           826 non-null    float64
 1   latitude            826 non-null    float64
 2   housing_median_age  826 non-null    float64
 3   total_rooms         826 non-null    float64
 4   total_bedrooms      817 non-null    float64
 5   population          826 non-null    float64
 6   households          826 non-null    float64
 7   median_income       826 non-null    float64
 8   median_house_value  826 non-null    float64
 9   ocean_proximity     826 non-null    object
dtypes: float64(9), object(1)
memory usage: 64.7+ KB
Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [25]:
# creacion del train y del test

from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size = 0.2, random_state= 22)

train.to_csv("housing.csv", index = False)
test.to_csv("housing.csv", index = False)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [30]:
# correlación de las variables
# df_for_correlation = df.drop(['ocean_proximity'], axis = 1)
# # df_for_correlation.info()
# correlation =  df_for_correlation.corr()
# correlation['median_house_value'].sort_values(ascending=False)
df.corr()

#df['median_house_value'].sort_values(ascending= True)

ValueError: could not convert string to float: '<1H OCEAN'

In [31]:
print(df.columns)

data_num = df.drop(['ocean_proximity'], axis = 1)
data_num.head()

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-118.65,34.27,23.0,1724.0,265.0,934.0,306.0,6.0783,229200.0
1,-122.04,37.34,23.0,2590.0,725.0,1795.0,680.0,3.1600,225000.0
2,-117.08,32.70,35.0,1477.0,264.0,852.0,279.0,3.1786,100600.0
3,-122.61,38.24,25.0,2990.0,450.0,1335.0,434.0,4.7000,190100.0
4,-122.43,37.72,49.0,3427.0,696.0,2363.0,661.0,3.6885,254000.0